{% extends 'base.html.twig' %}

{% block title %}{% trans from 'titles' %}login_page{% endtrans %}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {% trans with {'%username%': app.user.username} from 'security' %}already_login{% endtrans %}, <a href="{{ path('app_logout') }}">{% trans from 'security' %}logout_button_label{% endtrans %}</a>
        </div>
    {% else %}

        <h1 class="h3 mb-3 font-weight-normal">{% trans from 'security' %}login_form_title{% endtrans %}</h1>
        <label for="inputEmail">{% trans from 'security' %}email{% endtrans %}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">{% trans from 'security' %}password{% endtrans %}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <hr />
        <button class="btn btn-lg btn-primary" type="submit">
            {% trans from 'security' %}login_button_label{% endtrans %}
        </button>
    {% endif %}
</form>
{% endblock %}
