{% if is_granted('delete', phone) %}
<form method="post" action="{{ path('phone_delete', {'id': phone.id}) }}" onsubmit="return confirm('{% trans from 'phone' %}phone_delete_confirm{% endtrans %}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ phone.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i> {% trans from 'phone' %}delete_button_label{% endtrans %}</button>
</form>
{% endif %}