{% extends 'base.html.twig' %}

{% block title %}{% trans from 'titles' %}edit_phone_page{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans with {'%number%': phone.number} from 'phone' %}edit_phone_page_title{% endtrans %}</h1>

    {{ include('phone/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="float-right text-right">
        {{ include('phone/_delete_form.html.twig') }}
        <a class="btn btn-outline-primary" href="{{ path('home') }}">{% trans from 'messages' %}back_to_home{% endtrans %}</a>
    </div>
{% endblock %}
