{% extends 'base.html.twig' %}

{% block title %}{% trans from 'titles' %}add_phone_page{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans from 'phone' %}add_phone_page_title{% endtrans %}</h1>

    {{ include('phone/_form.html.twig') }}

{% endblock %}
