{% extends 'base.html.twig' %}

{% block title %}{% trans from 'titles' %}show_phone_page{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans with {'%number%': phone.number} from 'phone' %}show_phone_page_title{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans from 'phone' %}id_label{% endtrans %}</th>
                <td>{{ phone.id }}</td>
            </tr>
            <tr>
                <th>{% trans from 'phone' %}firstname_label{% endtrans %}</th>
                <td>{{ phone.firstname }}</td>
            </tr>
            <tr>
                <th>{% trans from 'phone' %}lastname_label{% endtrans %}</th>
                <td>{{ phone.lastname }}</td>
            </tr>
            <tr>
                <th>{% trans from 'phone' %}number_label{% endtrans %}</th>
                <td><input type="text" class="input-phone form-control" value="{{ phone.number }}" readonly></td>
            </tr>
        </tbody>
    </table>

    <div class="float-right text-right">
    {% if is_granted('update', phone) %}
        <a class="btn btn-primary" href="{{ path('phone_edit', {'id': phone.id}) }}"><i class="fa fa-edit"></i> {% trans from 'phone' %}edit_button_label{% endtrans %}</a>
    {% endif %}
    {{ include('phone/_delete_form.html.twig') }}
    </div>

{% endblock %}
