{% extends 'base.html.twig' %}

{% block title %}{% trans from 'titles' %}register_page{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">{% trans from 'security' %}register_form_title{% endtrans %}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-success">{% trans from 'security' %}register_button_label{% endtrans %}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
