<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% include 'nav.html.twig' %}

        {% block header %}{% endblock %}

        <div class="container">
            <div class="row">
                <div class="col-12 pt-5 pb-5">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {% include 'footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
