{% extends 'base.html.twig' %}

{% block title %}{% trans from 'titles' %}home_page{% endtrans %}{% endblock %}

{% block header %}
    <!-- Masthead -->
    <header class="text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5"></h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="text" class="form-control form-control-l input-phone" placeholder="{% trans from 'phone' %}number_placeholder{% endtrans %}" value="{{ search }}">
                            </div>
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-search"></i> {% trans from 'phone' %}search_button_label{% endtrans %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    {% if phones|length > 0 %}
        <h1>{% trans with {'%search%': search} from 'phone' %}search_results_table_label{% endtrans %}</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>{% trans from 'phone' %}id_label{% endtrans %}</th>
                    <th>{% trans from 'phone' %}firstname_label{% endtrans %}</th>
                    <th>{% trans from 'phone' %}lastname_label{% endtrans %}</th>
                    <th>{% trans from 'phone' %}number_label{% endtrans %}</th>
                    <th>{% trans from 'phone' %}actions_label{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for phone in phones %}
                <tr>
                    <td>{{ phone.id }}</td>
                    <td>{{ phone.firstname }}</td>
                    <td>{{ phone.lastname }}</td>
                    <td><input type="text" class="input-phone form-control" value="{{ phone.number }}" readonly></td>
                    <td>
                        {% if is_granted('read', phone) %}
                            <a class="btn btn-sm btn-primary" href="{{ path('phone_show', {'id': phone.id}) }}"><i class="fa fa-eye"></i> {% trans from 'phone' %}show_button_label{% endtrans %}</a>
                        {% endif %}
                        {% if is_granted('update', phone) %}
                            <a class="btn btn-sm btn-primary" href="{{ path('phone_edit', {'id': phone.id}) }}"><i class="fa fa-edit"></i> {% trans from 'phone' %}edit_button_label{% endtrans %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif search %}
        <div class="alert alert-info"><p>{% trans from 'phone' %}no_records_found{% endtrans %}</p></div>
    {% endif %}
{% endblock %}
