<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">{% trans %}sitename{% endtrans %}</a>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="float-right text-right">
            <a class="btn btn-primary" href="{{ path('phone_new') }}"><i class="fa fa-plus-square"></i> {% trans from 'phone' %}add_button_label{% endtrans %}</a>
            <a class="btn btn-danger" href="{{ path('app_logout') }}"><i class="fa fa-external-link-alt"></i> {% trans from 'security' %}logout_button_label{% endtrans %}</a>
        </div>
        {% else %}
            <div class="float-right text-right">
                <a class="btn btn-primary" href="{{ path('app_login') }}"><i class="fa fa-lock"></i> {% trans from 'security' %}login_button_label{% endtrans %}</a>
                <a class="btn btn-success" href="{{ path('app_register') }}"><i class="fa fa-user"></i> {% trans from 'security' %}register_button_label{% endtrans %}</a>
            </div>

        {% endif %}
    </div>
</nav>
